---
import BaseLayout from "@/layouts/BaseLayout.astro";
import SeoPage from "@/components/SeoPage.astro";
---

<BaseLayout>
  <SeoPage
    slot="head"
    title="500"
  />
  <div class="mx-auto mt-8 text-center">
    <p class="mb-3 text-2xl font-bold text-balance">Something went wrong</p>
    <p class="text-balance">An unexpected error occurred. Please try again in a moment.</p>
  </div>
</BaseLayout>
