---
interface Props {
  title: string;
  class?: string;
  default?: boolean;
}

const { title, class: className, default: isDefault } = Astro.props;
---

<div
  class={`tab-panel pt-4 px-2 ${className || ""}`}
  data-title={title}
  {...isDefault ? { "data-default": "true" } : {}}>
  <slot />
</div>
